{
  "root": true,
  "env": {
    "node": true,
    "es6": true,
    "commonjs": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "modules": true
    }
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-console": "warn",
    "semi": ["error"],
    "space-before-function-paren": ["error"]
  },
  "ignorePatterns": [
    "repl.js"
  ],
  "reportUnusedDisableDirectives": true
}